<h1>Login</h1>

<%= form_tag '/login' do %>


  <div class="form-group">
    <label for="a">Email:</label>
    <%= text_field_tag :email %>
  </div>
  <div class="form-group">
    <label for="a">Password:</label>
    <%= password_field_tag :password %>
  </div>

  <%= submit_tag "Submit", class:"btn btn-primary" %>

<% end %>