<section class="about-show">

  <header class="page-header">
    <h1>About Page</h1>
  </header>

  <div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://via.placeholder.com/150" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Shop Owner: Jimmy</h4>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pellentesque, mi a suscipit consectetur, lectus justo bibendum nisl, ut pellentesque neque magna a nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis mattis, sapien sit amet luctus dictum, felis mi placerat nibh, et vulputate mi eros eu elit. Vestibulum hendrerit non eros ac egestas. Nam pulvinar, risus eget iaculis vulputate, magna diam commodo velit, ut ornare purus eros a risus. Proin convallis et massa ut ullamcorper. Mauris cursus efficitur lorem vitae iaculis. Nullam elementum dui ac mauris dapibus, in commodo velit posuere. Mauris sagittis tempus varius. Maecenas a justo non nunc consequat sollicitudin ac et ipsum. Suspendisse porta arcu vitae nulla hendrerit, ut sollicitudin sem tincidunt. Maecenas sollicitudin dui id nulla semper scelerisque. Morbi ut lobortis nunc. Duis hendrerit pharetra ex in viverra.
  </div>
</div>

<div class="media">
<div class="media-left media-middle">
  <a href="#">
    <img class="media-object" src="https://via.placeholder.com/150" alt="...">
  </a>
</div>
<div class="media-body">
  <h4 class="media-heading">Marketing Manager: Julie</h4>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pellentesque, mi a suscipit consectetur, lectus justo bibendum nisl, ut pellentesque neque magna a nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis mattis, sapien sit amet luctus dictum, felis mi placerat nibh, et vulputate mi eros eu elit. Vestibulum hendrerit non eros ac egestas. Nam pulvinar, risus eget iaculis vulputate, magna diam commodo velit, ut ornare purus eros a risus. Proin convallis et massa ut ullamcorper. Mauris cursus efficitur lorem vitae iaculis. Nullam elementum dui ac mauris dapibus, in commodo velit posuere. Mauris sagittis tempus varius. Maecenas a justo non nunc consequat sollicitudin ac et ipsum. Suspendisse porta arcu vitae nulla hendrerit, ut sollicitudin sem tincidunt.
</div>
</div>

<div>
<h4>Our Mission</h4>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pellentesque, mi a suscipit consectetur, lectus justo bibendum nisl, ut pellentesque neque magna a nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis mattis, sapien sit amet luctus dictum, felis mi placerat nibh, et vulputate mi eros eu elit. Vestibulum hendrerit non eros ac egestas. Nam pulvinar, risus eget iaculis vulputate, magna diam commodo velit, ut ornare purus eros a risus. Proin convallis et massa ut ullamcorper. Mauris cursus efficitur lorem vitae iaculis. Nullam elementum dui ac mauris dapibus, in commodo velit posuere. Mauris sagittis tempus varius. Maecenas a justo non nunc consequat sollicitudin ac et ipsum. Suspendisse porta arcu vitae nulla hendrerit, ut sollicitudin sem tincidunt.</p>
</div>

</section>
